body {
	margin: 0;
}

.background-careerpage {
	background: #344d65;
	min-height: 150vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* font-size: calc(10px + 2vmin); */
	/* color: white;  */
}

.center-background-2 {
	/* display: flex;
	flex-direction: column; */

	position: absolute;
	width: 1025px;
	min-height: 55%;

	top: 200px;

	background: #332f2f;
	box-shadow: 0px 4px 5px #000000;
	border-radius: 43px;
}

.career-name-div {
	height: 100px;
	width: 100%;
	text-align: center;

	/* background-color: aquamarine; */
}
.left-side-div {
	width: 45%;
	min-height: 40%;
	border-right: 5px solid grey;
	float: left;
}

.description-div {
	margin-bottom: 5%;
	/* height: 50%; */
	min-height: 20%;
	width: 100%;
	/* background-color: aquamarine; */
}

.career-name {
	margin-left: 50px;
	font-family: 'Montserrat', sans-serif;
	color: white;
	font-size: 55px;
}

.description-title {
	font-family: 'Montserrat', sans-serif;
	color: #459cd1;
	font-size: 30px;
	margin-left: 30%;
	margin-bottom: 0px;
	/* border-bottom: 5px solid grey; */
}

.description-text-div {
	width: 100%;
	height: 87%;
	/* background-color: red; */
}

.description-text {
	font-family: 'Montserrat', sans-serif;
	color: white;
	font-size: 20px;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 10px;
}

.day-div {
	margin-bottom: 5%;
	min-height: 20%;
	width: 100%;
	/* background-color: aquamarine; */
}
.day-title {
	font-family: 'Montserrat', sans-serif;
	color: #459cd1;
	font-size: 30px;
	margin-left: 20%;
	margin-bottom: 0px;
	margin-top: 0px;
	/* border-bottom: 5px solid grey; */
}

.day-text-div {
	width: 100%;
	min-height: 20%;
	/* background-color: red; */
}

.day-text {
	font-family: 'Montserrat', sans-serif;
	color: white;
	font-size: 20px;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 10px;
}

.right-side-div {
	width: 45%;
	min-height: 40%;
	/* background-color: blue; */
	margin-left: 50%;
	top: 5px;
}

.career-box-1 {
	width: 95%;
	min-height: 80%;
	margin: 0 auto;
}

.salary-div {
	margin-bottom: 5%;
	/* height: 50%; */
	min-height: 20%;
	width: 100%;
	/* background-color: aquamarine; */
}

.salary-title {
	font-family: 'Montserrat', sans-serif;
	color: #459cd1;
	font-size: 30px;
	margin-left: 28%;
	margin-bottom: 0px;
	/* border-bottom: 5px solid grey; */
	padding-top: 20px;
}

.salary-text-div {
	width: 100%;
	height: 87%;
	/* background-color: red; */
}

.salary-text {
	font-family: 'Montserrat', sans-serif;
	color: white;
	font-size: 20px;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 10px;
}

.celebrities-div {
	margin-bottom: 5%;
	min-height: 20%;
	width: 100%;
	/* background-color: aquamarine; */
}
.celebrities-title {
	font-family: 'Montserrat', sans-serif;
	color: #459cd1;
	font-size: 30px;
	margin-left: 32%;
	margin-bottom: 0px;
	margin-top: 0px;
	/* border-bottom: 5px solid grey; */
}

.celebrities-text-div {
	width: 100%;
	min-height: 20%;
	/* background-color: red; */
}

.celebrities-text {
	font-family: 'Montserrat', sans-serif;
	color: white;
	font-size: 20px;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 10px;
}

.classes-div {
	margin-bottom: 5%;
	min-height: 20%;
	width: 100%;
	/* background-color: aquamarine; */
}
.classes-title {
	font-family: 'Montserrat', sans-serif;
	color: #459cd1;
	font-size: 30px;
	margin-left: 20%;
	margin-bottom: 0px;
	margin-top: 0px;
	/* border-bottom: 5px solid grey; */
}

.classes-text-div {
	width: 100%;
	min-height: 20%;
	/* background-color: red; */
}

.classes-text {
	font-family: 'Montserrat', sans-serif;
	color: white;
	font-size: 20px;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 10px;
}
