body {
	margin: 0;
}

.background {
	background: #344d65;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* font-size: calc(10px + 2vmin); */
	/* color: white;  */
}

.login-background {
	position: absolute;
	width: 635px;
	height: 518px;

	top: 200px;

	background: #332f2f;
	box-shadow: 0px 4px 5px #000000;
	border-radius: 43px;
}

.login-text {
	position: relative;
	font-family: 'Montserrat', sans-serif;
	font-size: 43px;
	color: #ffffff;
	top: 5%;
	text-align-last: center;
}

.forms {
	/* text-align: -webkit-center; */
}

.forms input[type='submit'] {
	text-align: -webkit-center;
}

input[type='email'],
input[type='password'] {
	width: 434px;
	height: 82px;

	background: #c4c4c4;
	border-radius: 37px;
	font-size: large;
	margin: 0 center;
	text-align-last: center;

	border: 1px solid #000000;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	font-family: 'Montserrat', sans-serif;
}

input[type='submit'] {
	width: 168px;
	height: 54px;

	background: #2db4de;
	border-radius: 32px;

	border: 1px solid #000000;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	font-family: 'Montserrat', sans-serif;
	color: white;
}

@media screen and (max-width: 649px) {
	.login-background {
		position: absolute;
		width: 480px;
		height: 518px;
		top: 200px;

		background: #332f2f;
		box-shadow: 0px 4px 5px #000000;
		border-radius: 43px;
	}

	.login-text {
		position: relative;
		font-family: 'Montserrat', sans-serif;
		font-size: 43px;
		color: #ffffff;
		top: 1%;
		margin-bottom: 1%;
		text-align: -webkit-center;
		text-shadow: 2px 2px black;
	}
}

@media screen and (max-width: 480px) {
	.login-background {
		position: absolute;
		width: 320px;
		height: 518px;
		top: 200px;

		background: #332f2f;
		box-shadow: 0px 4px 5px #000000;
		border-radius: 43px;
	}
	input[type='email'],
	input[type='password'],
	input[type='text'] {
		width: 200px;
	}

	/* .background {
		height: 150vh;
	} */
}
