body {
	margin: 0;
}

.background-explorepage-student-home {
	background: #344d65;
	min-height: 600vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
		-1px -1px 0 #000;
}

.center-background-student-home {
	position: absolute;
	width: 1025px;
	min-height: 800px;
	top: 200px;
	background: #332f2f;
	box-shadow: 0px 4px 5px #000000;
	border-radius: 43px;
}
.student-dashboard-upper-div {
	width: 100%;
	height: 300px;
}
.textbox-1-student-home {
	width: 100%;
	min-height: 10px;
	text-align: center;
	margin-bottom: 20px;
}
.text1-student {
	margin-bottom: 0px;
}
.student-dashboard-upper-lower-div {
	width: 100%;
	height: 155px;
	display: flex;
}
.student-dashboard-upper-left-div {
	/* display: flex; */
	margin-left: 150px;
	margin-top: 20px;
	width: 350px;
	height: 100%;
}
.student-pic-div {
	width: 120px;
	height: 120px;
	margin-left: 30px;
}
.student-pic {
	width: 100%;
	height: 90%;
}

.bio-div {
	padding-top: 10px;
	margin-left: 0px;
	width: 370px;
	height: 100%;
}
.bio-text {
	font-size: 20px;
	margin-bottom: 0px;
	margin-top: 3px;
}
.student-dashboard-upper-right-div {
	width: 45%;
	height: 235px;
}
.achievement-text h4 {
	font-size: 25px;
	color: #459cd1;
	padding-bottom: 2px;
	border-bottom: 2px solid grey;
}
.achievement-text {
	width: 100%;
	min-height: 20px;
	text-align: center;
}
.achievement-div {
	width: 100%;
	height: 97%;
	overflow-y: scroll;
}
.achivement-bar {
	margin: auto;
	width: 80%;
	min-height: 50px;
	background-color: #bccacf;
	border-radius: 32px;
	text-align: center;
	color: black;
	text-shadow: none;
}

.achivement-bar h3 {
	padding-top: 10px;
}

h4 {
	margin: 0px;
}
.achivements-div {
	width: 100%;
	height: 21+0px;
	display: flex;
	background-color: darkred;
}

.student-dashboard-middle-div {
	width: 100%;
	min-height: 1px;
	margin-top: 10px;
}

.student-dashboard-lower-div {
	margin-top: 10px;
	width: 100%;
	min-height: 200px;
	margin-bottom: 20px;
}

.student-dashboard-lower-div-text h3 {
	font-family: 'Montserrat', sans-serif;
	color: #459cd1;
	font-size: 30px;
	font-weight: 700;
	margin-bottom: 5px;
	width: 98%;
	min-height: 5px;
	padding-left: 20px;
	border-bottom: 2px solid grey;
	margin-bottom: 2px;
}

.student-dashboard-recmmmended-cards-div {
	width: 100%;
	position: relative;
	min-height: 150px;
	padding-left: 15px;
	margin-top: 30px;
}
.take-quiz {
	width: 220px;
	height: 54px;
	margin-right: 70px;
	margin-top: 40px;
	background: #2db4de;
	border: 1px solid #000000;
	box-sizing: border-box;
	border-radius: 32px;
	text-align: center;
	font-weight: bolder;
	margin: auto;
	margin-top: 15px;
}

.retake-quiz:hover {
	background-color: #2494b6;
	cursor: pointer;
}

.retake-quiz {
	display: none;
	width: 220px;
	height: 54px;
	margin-right: 70px;
	margin-top: 40px;
	background: #2db4de;
	border: 1px solid #000000;
	box-sizing: border-box;
	border-radius: 32px;
	text-align: center;
	font-weight: bolder;
	margin: auto;
	margin-top: 15px;
}

.take-quiz:hover {
	background-color: #2494b6;
	cursor: pointer;
}

.quiz-containter {
	width: 90%;
	min-height: 1px;
	margin: auto;
	display: none;
	margin-top: 50px;
}

.quiz-containter h1 {
	padding-top: 10px;
	font-size: 25px;
	color: rgb(199, 194, 194);
}

.quiz-containter label {
	font-size: 20px;
	color: white;
}

.quiz-containter label:hover {
	color: rgb(206, 204, 204);
	cursor: pointer;
}

.quiz-containter input[type='submit'] {
	position: relative;
	margin-left: 40%;
	margin-top: 10px;
}

.quiz-containter input[type='submit']:hover {
	background-color: #2494b6;
	cursor: pointer;
}

.question {
	background-color: #344d65;
	border-radius: 32px;
	padding-left: 20px;
	box-shadow: 0px 4px 5px #000000;
}

.chatbot-cluster-cards {
	margin-top: 50px;
	min-height: 1px;
}
