body {
	margin: 0;
}

.background-explorepage {
	background: #344d65;
	min-height: 150vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	background-image: url('./../Home/Backgroundv1.png');
	background-size: 50%;
}

.center-background-1 {
	/* display: flex;
	flex-direction: column; */

	position: absolute;
	width: 1025px;
	min-height: 800px;

	top: 200px;

	background: #332f2f;
	box-shadow: 0px 4px 5px #000000;
	border-radius: 43px;
}

.textbox-1 {
	height: 10%;
	width: 100%;
	/* background-color: aquamarine; */
}

.textbox-2 {
	margin-bottom: 5%;
	height: 5%;
	width: 100%;
	border-bottom: 2px solid grey;
	/* background-color: aquamarine; */
}

.text1 {
	margin-left: 50px;
	font-family: 'Montserrat', sans-serif;
	color: white;
	font-size: 55px;
}

.text2 {
	margin-left: 50px;
	font-family: 'Montserrat', sans-serif;
	color: #459cd1;
	font-size: 30px;
}

.career-box {
	width: 95%;
	height: 80%;
	/* background-color: aquamarine; */
	margin: 0 auto;
	/* overflow: hidden; */
}
.row1 {
	width: 100%;
	/* background-color: blue; */
	margin: auto;
	padding-bottom: 20px;
}

.career-card {
	display: inline-block;
	position: relative;
	width: 205px;
	height: 107px;
	left: 2%;
	top: 5%;
	background: #c4c4c4;
	border-radius: 18px;
	margin: 0px;
	padding: 0px;
	border: 0px;
	margin-left: 2.5%;
	margin-bottom: 2%;
	text-align: center;
}

.career-card:hover {
	box-shadow: 0px 10px 10px #000000;
}

.cluster-links {
	position: relative;
	color: black;
	width: 100%;
	height: 100%;
	margin: 0;
}

@media screen and (max-width: 1450px) {
	.center-background-1 {
		position: absolute;
		width: 800px;
		/* height: 1050px; */
	}

	.career-card {
		left: 35px;
	}

	.background-explorepage {
		height: 150vh;
	}
}

@media screen and (max-width: 800px) {
	.center-background-1 {
		position: absolute;
		width: 550px;
		/* height: 1300px; */
	}

	.career-card {
		left: 35px;
	}

	.background-explorepage {
		height: 200vh;
	}
}

@media screen and (max-width: 550px) {
	.center-background-1 {
		position: absolute;
		width: 360px;
		/* height: 2500px; */
	}

	.career-card {
		left: 60px;
	}

	.background-explorepage {
		height: 300vh;
	}
}
