body {
	margin: 0;
}

.background-explorepage {
	background: #344d65;
	min-height: 150vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.center-background-1 {
	/* display: flex;
	flex-direction: column; */

	position: absolute;
	width: 1025px;
	min-height: 800px;

	top: 200px;

	background: #332f2f;
	box-shadow: 0px 4px 5px #000000;
	border-radius: 43px;
}

.textbox-1 {
	height: 10%;
	width: 100%;
	/* background-color: aquamarine; */
}

.textbox-2 {
	margin-bottom: 5%;
	height: 5%;
	width: 100%;
	border-bottom: 2px solid grey;
	/* background-color: aquamarine; */
}

.text1 {
	margin-left: 50px;
	font-family: 'Montserrat', sans-serif;
	color: white;
	font-size: 55px;
}

.text2 {
	margin-left: 50px;
	font-family: 'Montserrat', sans-serif;
	color: #459cd1;
	font-size: 30px;
}

.career-box {
	width: 95%;
	height: 80%;
	/* background-color: aquamarine; */
	margin: 0 auto;
	/* overflow: hidden; */
}
.row1 {
	width: 100%;
	/* background-color: blue; */
	margin: auto;
	padding-bottom: 20px;
}
.career-card-main {
	display: inline-block;
	position: relative;
	width: 205px;
	height: 107px;
	left: 2%;
	top: 5%;
	background: #c4c4c4;
	border-radius: 18px;
	margin: 0px;
	padding: 0px;
	border: 0px;
	margin-left: 2.5%;
	margin-bottom: 2%;
	text-align: center;
	overflow: hidden;
}

.career-card-main:hover {
	box-shadow: 0px 10px 10px #000000;
}

.career-card-in {
	display: inline-block;
	position: relative;
	width: 205px;
	height: 107px;
	left: 0px;
	background: #c4c4c4;
	border-radius: 18px;
	margin: 0px;
	padding: 0px;
	border: 0px;
	/* margin-left: 2%; */
	margin-bottom: 2%;
	text-align: center;
	overflow: hidden;
}
.career-card:hover {
	/* box-shadow: 0px 10px 10px #000000; */
}

.cluster-links {
	position: relative;
	color: black;
	width: 100%;
	height: 100%;
	margin: 0;
}
.cluster-card-image {
	width: 100%;
	height: 100%;
	z-index: 5;
}

.cluster-image-container {
	position: relative;
	/* background-image: url('./ClusterCardPictures/Health-sciences.png'); */
	background-size: contain;
	background-repeat: no-repeat;
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	padding: auto;
}

.testing {
	display: inline;
	width: 100%;
	height: 100%;
	background-color: grey;
	text-align: center;
}

.cluster-card-text {
	display: block;
	position: relative;
	top: 50%;
	transform: translateY(-50%);

	margin: 0;
	font-size: 22px;
	color: white;
	text-decoration: none;
	font-family: 'Fira Sans', sans-serif;
	/* font-style: italic; */
	font-weight: 700;

	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
		1px 1px 0 #000;
	padding: 2px 0;
	text-align: center;

	background-color: rgba(23, 22, 22, 0.46);
	z-index: 3;

	margin-left: -10px;
}

.add-icon-on-card {
	position: absolute;
	width: 20px;
	height: 20px;
	right: 10px;
	top: 3px;
	z-index: 4;
}

.add-icon-on-card:hover {
	filter: invert(100%);
	cursor: pointer;
}

@media screen and (max-width: 1450px) {
	.text1 {
		font-size: 40px;
	}

	.center-background-1 {
		position: absolute;
		width: 800px;
		/* height: 1050px; */
	}

	.career-card-main-main {
		left: 35px;
	}

	.background-explorepage {
		height: 150vh;
	}

	.row1 {
		margin-left: 20px;
	}
}

@media screen and (max-width: 800px) {
	.center-background-1 {
		position: absolute;
		width: 550px;
		/* height: 1300px; */
	}

	.career-card-main {
		left: 35px;
	}

	.background-explorepage {
		height: 200vh;
	}
}

@media screen and (max-width: 550px) {
	.text1 {
		font-size: 30px;
	}

	.text2 {
		font-size: 20px;
	}

	.center-background-1 {
		position: absolute;
		width: 360px;
		/* height: 2500px; */
	}

	.career-card-main {
		left: 60px;
	}

	.background-explorepage {
		height: 300vh;
	}

	.row1 {
		margin-left: 50px;
	}
}
