body {
	margin: 0;
}

.home-background {
	background: #344d65;
	min-height: 150vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	/* font-size: calc(10px + 2vmin); */
	/* color: white;  */
	/* background-image: url('./Backgroundv1.png');
	background-size: 50%; */
}

.center-background-home {
	display: flex;
	position: absolute;
	width: 1050px;
	height: 1000px;
	top: 200px;
	background: #332f2f;
	box-shadow: 0px 4px 5px #000000;
	border-radius: 43px;

	/* min-height: 1000px; */
}

.top-div {
	position: absolute;
	width: 100%;
	height: 50%;
	min-height: 50%;
	border-bottom: 5px solid #c4c4c4;

	/* display: inline-block; */
	/* background-color: red; */
}
.bottom-div {
	position: relative;
	width: 100%;
	height: 50%;
	top: 50%;
	min-height: 50%;
	display: block;
	clear: both;

	/* background-color: blue; */
}

.chatbot-container {
	background: green;
	position: absolute;
	width: 50%;
	height: 85%;
	right: 25%;
	top: 10%;
	border-radius: 43px;
	overflow: hidden;

	/* align-self: center; */
}

.chatbot-bot-embeded {
	position: relative;
	width: 100%;
	height: 120%;
	bottom: 85px;
	border: none;
}

.career-img-container {
	position: relative;
	top: 10%;
	left: 2%;
	height: 80%;
	width: 50%;
	border-right: 5px solid #c4c4c4;
	float: left;
	padding-right: 10px;
}
.career-img {
	width: 100%;
	height: 100%;
	border-radius: 32px;
}

.test-container {
	position: absolute;
	/* align-self: center; */
	left: 10%;
	top: 8%;
	margin-left: 50%;

	/* background: red; */
	height: 80%;
	width: 35%;
	padding-top: 40px;
}

.intro-text {
	position: absolute;
	font-family: 'Montserrat', sans-serif;
	text-align: -webkit-center;

	color: #ffffff;
}

.App-logo {
	height: 40vmin;
}

.App-header {
	background-color: #344d65;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #09d3ac;
}

@media screen and (max-width: 1250px) {
	.center-background-home {
		display: flex;
		position: absolute;
		width: 735px;
		height: 650px;
		/* /* top: 252px; */

		background: #332f2f;
		box-shadow: 0px 4px 5px #000000;
		border-radius: 43px;
	}

	.chatbot-container {
		background: green;
		position: absolute;
		/* align-self: center; */
		width: 50%;
		height: 85%;

		right: 45%;
		top: 10%;
		border-radius: 43px;
	}
	.chatbot-bot-embeded {
		bottom: 70px;
	}

	.top-div {
		border-bottom: 0;
	}
}

@media screen and (max-width: 800px) {
	.center-background-home {
		display: flex;
		/* /* position: absolute; */
		width: 480px;
		height: 1250px;

		top: 200px;

		background: #332f2f;
		box-shadow: 0px 4px 5px #000000;
		border-radius: 43px;
	}

	.career-img-container {
		position: absolute;
		align-self: center;
		top: 5%;
		height: 45%;
		width: 85%;
		border-right: 0;
		left: 40px;

		border-bottom: 5px solid #c4c4c4;
		clear: both;
	}

	.test-container {
		position: absolute;

		top: 55%;

		/* background: red; */
		height: 60%;
		width: 80%;

		clear: both;
		padding: 0;
		margin: 0;
		border-bottom: 5px solid #c4c4c4;
	}
	.intro-text {
		position: absolute;
		font-family: 'Montserrat', sans-serif;
		/* text-align: -webkit-center; */

		color: #ffffff;
	}

	.top-div {
		position: absolute;
		width: 100%;
		/* background-color: red; */
		height: 20%;
	}

	.chatbot-container {
		background: green;
		position: absolute;
		/* align-self: center; */
		width: 95%;
		height: 400px;

		right: 3%;
		top: 20%;
		border-radius: 43px;
	}
}

@media screen and (max-width: 660px) {
	.center-background-home {
		display: flex;
		/* /* position: absolute; */
		width: 360px;
		height: 1450px;

		top: 200px;

		background: #332f2f;
		box-shadow: 0px 4px 5px #000000;
		border-radius: 43px;
	}

	.career-img-container {
		position: absolute;
		align-self: center;
		top: 5%;
		height: 45%;
		width: 85%;
		border-right: 0;
		left: 40px;

		border-bottom: 5px solid #c4c4c4;
		clear: both;
	}

	.test-container {
		position: absolute;

		top: 55%;

		/* background: red; */
		height: 70%;
		width: 80%;

		clear: both;
		padding: 0;
		margin: 0;
		border-bottom: 5px solid #c4c4c4;
	}
	.intro-text {
		position: absolute;
		font-family: 'Montserrat', sans-serif;
		/* text-align: -webkit-center; */

		color: #ffffff;
	}

	.top-div {
		position: absolute;
		width: 100%;
		/* background-color: red; */
		height: 20%;
	}

	.chatbot-container {
		background: green;
		position: absolute;
		/* align-self: center; */
		width: 95%;
		height: 400px;

		right: 3%;
		top: 35%;
		border-radius: 43px;
	}
}

@media screen and (max-width: 660px) {
	.center-background-home {
		display: flex;
		/* /* position: absolute; */
		width: 360px;
		height: 1450px;

		top: 200px;

		background: #332f2f;
		box-shadow: 0px 4px 5px #000000;
		border-radius: 43px;
	}

	.career-img-container {
		position: absolute;
		align-self: center;
		top: 5%;
		height: 45%;
		width: 85%;
		border-right: 0;
		left: 40px;

		border-bottom: 5px solid #c4c4c4;
		clear: both;
	}

	.test-container {
		position: absolute;

		top: 55%;

		/* background: red; */
		height: 70%;
		width: 80%;

		clear: both;
		padding: 0;
		margin: 0;
		border-bottom: 5px solid #c4c4c4;
	}
	.intro-text {
		position: absolute;
		font-family: 'Montserrat', sans-serif;
		/* text-align: -webkit-center; */

		color: #ffffff;
	}

	.top-div {
		position: absolute;
		width: 100%;
		/* background-color: red; */
		height: 20%;
	}

	.chatbot-container {
		background: green;
		position: absolute;
		/* align-self: center; */
		width: 95%;
		height: 400px;

		right: 3%;
		top: 35%;
		border-radius: 43px;
	}

	.home-background {
		min-height: 210vh;
	}
}
