body {
	margin: 0;
}

.background-explorepage-admin-home {
	background: #344d65;
	min-height: 600vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.center-background-admin-home {
	position: absolute;
	width: 1025px;
	min-height: 800px;

	top: 200px;

	background: #332f2f;
	box-shadow: 0px 4px 5px #000000;
	border-radius: 43px;
	text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
		-1px -1px 0 #000;
}

.textbox-1-admin-home {
	text-align: center;
	text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
		-1px -1px 0 #000;
}

.text1-admin {
	margin-left: 50px;
	font-family: 'Montserrat', sans-serif;
	color: white;
	font-size: 55px;
	font-weight: bold;
}

.admin-students-div {
	width: 100%;
	min-height: 10px;
}

.student-list {
	margin: auto;
	width: 95%;
	min-height: 1px;
	max-height: 500px;
	overflow-y: scroll;
	display: none;
}
.index-section {
	width: 95%;
	margin: auto;
	margin-top: 10px;
	display: none;
}
.index {
	display: flex;
	width: 100%;
	min-height: 30px;
	background-color: #bccacf;
	margin-bottom: 5px;
	border-radius: 32px;
	box-shadow: 0px 4px 5px #000000;
	text-shadow: none;
}
.index-name {
	width: 35%;
	height: 100%;
	text-align: center;
	margin-top: none;
	color: black;
	font-size: 25px;
	font-weight: 600;
}
.index-email {
	width: 37.5%;
	height: 100%;
	text-align: center;
	color: black;
	font-size: 25px;
	font-weight: 600;
}
.index-password {
	width: 21.5%;
	height: 100%;
	text-align: center;
	color: black;
	font-size: 25px;
	font-weight: 600;
}
.student-bar {
	width: 100%;
	min-height: 50px;
	background: #344d65;
	display: flex;
	border-radius: 32px;
	margin-top: 7px;
	box-shadow: 0px 4px 5px #000000;
}
.student-bar-class {
	width: 100%;
	min-height: 50px;
	background: red;
	display: flex;
	border-radius: 32px;
	margin-top: 7px;
	box-shadow: 0px 4px 5px #000000;
}
.add-student-section {
	padding-left: 10px;
	margin-top: 20px;
	width: 20px;
	height: 100%;
}
.student-name-section {
	width: 45%;
	min-height: 100%;
	padding-left: 15px;
	border-right: 1px grey solid;
}
.student-email-section {
	width: 45%;
	min-height: 100%;
	border-right: 1px grey solid;
	padding-left: 15px;
}

.student-password-section {
	width: 30%;
	min-height: 100%;
	padding-left: 15px;
}
.reset-password:hover {
	cursor: pointer;
	color: #2db4de;
}

.details {
	width: 40px;
	height: 40px;
	color: black;
}

.details:hover {
	cursor: pointer;
	filter: invert(50%);
}
.delete-student {
	padding-top: 10px;
	padding-left: 15px;
}

.details-div {
	width: 100%;
	height: 150px;
	background-color: brown;
	display: none;
}

.textbox-2-admin-home {
	margin-bottom: 5%;
	min-height: 10px;
	width: 100%;
	border-bottom: 2px solid grey;
	position: relative;
	margin-top: 10px;
	text-align: center;
	text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
		-1px -1px 0 #000;
	font-weight: bold;
}

.career-box-admin-home {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	width: 80%;
	min-height: 400px;
	border-radius: 32px;
	margin-bottom: 50px;
}
.career-bar-admin {
	width: 100%;
	min-height: 40px;
	background: #bccacf;
	display: flex;
	border-radius: 32px;
	margin-top: 7px;
	box-shadow: 0px 4px 5px #000000;
	text-shadow: none;
}
.career-name-admin {
	position: relative;
	color: black;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 20px;
	float: left;
	padding-top: 7px;
	padding-bottom: 7px;
	min-height: 10px;
	width: 80%;
}
.career-bar-left {
	width: 88%;
}

.career-bar-right-1 {
	display: flex;
	width: 12%;
	min-height: 100%;
	align-items: center;
}

.cluster-div-admin {
	width: 85%;
	min-height: 40px;

	margin-left: auto;
	margin-right: auto;

	margin-top: 20px;
}

.cluster-name-div {
	position: relative;
	align-content: center;
	width: 100%;
	min-height: 40px;
	background-color: #344d65;
	text-align: center;
	margin-top: 0px;
	border-radius: 32px;
	box-shadow: 0px 4px 5px #000000;
	margin-bottom: 10px;
}
.cluster-name-div h1 {
	margin-top: 0px;
	margin-bottom: 0px;
	text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
		-1px -1px 0 #000;
}

.edit-icon {
	position: relative;
	width: 40px;
	height: 40px;
	right: 0%;
}

.edit-icon:hover {
	filter: invert(100%);
}

.trashcan-icon {
	position: relative;
	width: 35px;
	height: 35px;
	right: 20px;
	bottom: 3px;
	right: 0%;
}

.trashcan-icon:hover {
	filter: invert(100%);
	cursor: pointer;
}

.plus-sign-icon:hover {
	filter: invert(100%);
}

.career-card {
	display: inline-block;
	position: relative;
	width: 205px;
	height: 107px;
	left: 2%;
	top: 5%;
	background: #c4c4c4;
	border-radius: 18px;
	margin: 0px;
	padding: 0px;
	border: 0px;
	margin-left: 2.5%;
	margin-bottom: 2%;
	text-align: center;
}

.career-card:hover {
	box-shadow: 0px 10px 10px #000000;
}

.add-cluster-div {
	width: 100%;
	min-height: 20px;
	white-space: nowrap;
	border-bottom: 2px solid grey;
	padding-bottom: 40px;
}
.add-cluster-form {
	margin-left: 15%;
	font-size: 20px;
	white-space: pre;
	word-break: break-word;
}
.add-button-admin {
	width: 220px;
	height: 54px;
	margin-right: 70px;
	margin-top: 40px;
	background: #2db4de;
	border: 1px solid #000000;
	box-sizing: border-box;
	border-radius: 32px;
	text-align: center;
	font-weight: bolder;
	margin: auto;
}
.add-button-admin:hover {
	background-color: #2494b6;
	cursor: pointer;
}

.add-button-admin h3 {
	position: relative;
	bottom: 10px;
	text-decoration: none;
	color: white;
	text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
		-1px -1px 0 #000;
}

.my-students-button-admin {
	width: 220px;
	height: 54px;
	margin-right: 70px;
	margin-top: 40px;
	background: #2db4de;
	border: 1px solid #000000;
	box-sizing: border-box;
	border-radius: 32px;
	text-align: center;
	font-weight: bolder;
	margin: auto;
}
.my-students-button-admin:hover {
	background-color: #2494b6;
	cursor: pointer;
}

.my-students-button-admin h3 {
	position: relative;
	bottom: 10px;
	text-decoration: none;
	color: white;
	/* text-shadow: 0px 2px 5px black; */
	text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
		-1px -1px 0 #000;
}

.buttons {
	width: 100%;
	min-height: 15px;
	display: flex;
	margin-bottom: 20px;
}

.top-buttons-admin {
	width: 100%;
	min-height: 15px;
	display: flex;
	margin-bottom: 20px;
}
.add-to-class {
	display: none;
	position: relative;
	left: 100px;
	width: 220px;
	height: 54px;
	margin-right: 70px;
	margin-top: 40px;
	background: grey;
	border: 1px solid #000000;
	box-sizing: border-box;
	border-radius: 32px;
	text-align: center;
	font-weight: bolder;
	margin: auto;
}
.add-to-class:hover {
	background-color: #4f5455;
	cursor: pointer;
}

.add-to-class h3 {
	position: relative;
	bottom: 10px;
	text-decoration: none;
	color: white;
	text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
		-1px -1px 0 #000;
}

.delete-student {
	display: none;
	position: relative;
	right: 100px;
	width: 220px;
	height: 54px;
	margin-top: 40px;
	background: grey;
	border: 1px solid #000000;
	box-sizing: border-box;
	border-radius: 32px;
	text-align: center;
	font-weight: bolder;
	margin: auto;
}
.delete-student:hover {
	background-color: #4f5455;
	cursor: pointer;
}

.delete-student h3 {
	position: relative;
	bottom: 20px;
	text-decoration: none;
	color: white;
	text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
		-1px -1px 0 #000;
}

.remove-student-class {
	display: none;
	position: relative;
	left: 100px;
	width: 220px;
	height: 54px;
	margin-top: 40px;
	background: grey;
	border: 1px solid #000000;
	box-sizing: border-box;
	border-radius: 32px;
	text-align: center;
	font-weight: bolder;
	margin: auto;
}
.remove-student-class:hover {
	background-color: #4f5455;
	cursor: pointer;
}

.remove-student-class h3 {
	position: relative;
	bottom: 10px;
	text-decoration: none;
	color: white;
	text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
		-1px -1px 0 #000;
}

.image-preview {
	width: 205px;
	height: 107px;
	left: 2%;
	top: 5%;
	background: #c4c4c4;
	border-radius: 18px;
	margin: 0px;
	padding: 0px;
	border: 0px;
	margin-bottom: 2%;
	text-align: center;
	position: relative;
	margin-left: 35%;
}
.image-preview__image {
	display: none;
	width: 100%;
	height: 100%;
	border-radius: 18px;
}
.middle-div {
	display: flex;
	width: 100%;
	min-height: 100px;
	display: none;
	align-content: center;
	text-align: center;
	border-bottom: 2px solid grey;
	padding-top: 20px;
	margin-bottom: 20px;
}
.middle-div span {
	margin-top: 50px;
	margin-left: 50px;
	font-weight: bold;
}
.cluster-add-bottom {
	display: block;
	width: 100%;
	min-height: 10px;
	align-content: center;
	align-items: center;
}

.cluster-bar-right {
	position: relative;
	width: 12%;
	margin-left: 80%;
}
.trashcan-icon-cluster {
	position: relative;
	width: 35px;
	height: 35px;
	right: 20px;
	bottom: 2px;
	right: 0%;
}
.trashcan-icon-cluster:hover {
	filter: invert(100%);
}

.plus-sign-icon {
	position: relative;
	width: 35px;
	height: 35px;
	right: 0px;
	bottom: 2px;
	padding-bottom: 5px;

	position: absolute;
	left: 89%;
}
.add-cluster-top {
	margin: 0;
	position: relative;
	text-align: center;
}

.reset-password-icon {
	width: 30px;
	height: 30px;
	margin-top: 12px;
	margin-right: 10px;
	margin-left: 15px;
}

.reset-password-icon:hover {
	filter: invert(100%);
	cursor: pointer;
}

.add-student-icon {
	width: 30px;
	height: 30px;
	margin-top: 12px;
	margin-right: 10px;
}
.add-student-icon:hover {
	filter: invert(100%);
	cursor: pointer;
}
.remove-student-from-class-icon {
	width: 30px;
	height: 30px;
	margin-top: 12px;
	margin-right: 10px;
}
.remove-student-from-class-icon:hover {
	filter: invert(100%);
	cursor: pointer;
}
.remove-student-icon {
	width: 30px;
	height: 30px;
	margin-top: 12px;
}
.remove-student-icon:hover {
	filter: invert(100%);
	cursor: pointer;
}

@media screen and (max-width: 1300px) {
	.center-background-admin-home {
		position: absolute;
		width: 700px;
	}

	.career-bar-admin {
		display: block;
	}

	.career-name-admin {
		position: relative;
		color: black;
		margin-top: auto;
		margin-bottom: auto;
		margin-left: 20px;
		float: left;
		padding-top: 7px;
		padding-bottom: 7px;
		min-height: 10px;
		width: 100%;
	}
	.career-bar-left {
		width: 95%;
	}
	.career-bar-right-1 {
		margin-left: 80%;
		display: flex;
		/* position: relative; */
		min-width: 12%;
		min-height: 100%;
		align-items: center;
	}
}
